# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
# created-by: conda 26.1.1
#_openmp_mutex=4.5=7_kmp_llvm
absl-py=2.4.0=pypi_0
ampl-asl=1.0.0=h286801f_2
annotated-types=0.7.0=pypi_0
anyio=4.13.0=pypi_0
appnope=0.1.4=pypi_0
argon2-cffi=25.1.0=pypi_0
argon2-cffi-bindings=25.1.0=pypi_0
arrow=1.4.0=pypi_0
asttokens=3.0.1=pypi_0
async-lru=2.3.0=pypi_0
attrs=26.1.0=pypi_0
babel=2.18.0=pypi_0
beautifulsoup4=4.14.3=pypi_0
bleach=6.3.0=pypi_0
bzip2=1.0.8=h80987f9_6
ca-certificates=2026.3.19=hca03da5_0
certifi=2026.2.25=pypi_0
cffi=2.0.0=pypi_0
charset-normalizer=3.4.7=pypi_0
comm=0.2.3=pypi_0
contourpy=1.3.2=pypi_0
cryptography=46.0.7=pypi_0
cycler=0.12.1=pypi_0
debugpy=1.8.20=pypi_0
decorator=5.2.1=pypi_0
deepdiff=8.6.2=pypi_0
defusedxml=0.7.1=pypi_0
et-xmlfile=2.0.0=pypi_0
exceptiongroup=1.3.1=pypi_0
executing=2.2.1=pypi_0
fastjsonschema=2.21.2=pypi_0
fonttools=4.62.1=pypi_0
fqdn=1.5.1=pypi_0
geojson=3.2.0=pypi_0
geopandas=1.1.3=pypi_0
h11=0.16.0=pypi_0
highspy=1.14.0=np2py310h4beac76_0
httpcore=1.0.9=pypi_0
httpx=0.28.1=pypi_0
icu=78.3=hef89b57_0
idna=3.11=pypi_0
igraph=1.0.0=pypi_0
immutabledict=4.3.1=pypi_0
ipopt=3.14.19=h9191b9b_2
ipykernel=7.2.0=pypi_0
ipython=8.39.0=pypi_0
ipywidgets=8.1.8=pypi_0
isoduration=20.11.0=pypi_0
jedi=0.19.2=pypi_0
jinja2=3.1.6=pypi_0
json5=0.14.0=pypi_0
jsonpointer=3.1.1=pypi_0
jsonschema=4.26.0=pypi_0
jsonschema-specifications=2025.9.1=pypi_0
jupyter=1.1.1=pypi_0
jupyter-client=8.8.0=pypi_0
jupyter-console=6.6.3=pypi_0
jupyter-core=5.9.1=pypi_0
jupyter-events=0.12.1=pypi_0
jupyter-lsp=2.3.1=pypi_0
jupyter-server=2.17.0=pypi_0
jupyter-server-terminals=0.5.4=pypi_0
jupyterlab=4.5.6=pypi_0
jupyterlab-pygments=0.3.0=pypi_0
jupyterlab-server=2.28.0=pypi_0
jupyterlab-widgets=3.0.16=pypi_0
kiwisolver=1.5.0=pypi_0
lark=1.3.1=pypi_0
libblas=3.11.0=6_h51639a9_openblas
libcblas=3.11.0=6_hb0561ab_openblas
libcxx=22.1.2=hf894667_0
libexpat=2.7.5=h50f4ffc_0
libffi=3.4.4=hca03da5_1
libgcc=15.2.0=hcbb3090_18
libgfortran=15.2.0=h07b0088_18
libgfortran5=15.2.0=hdae7583_18
liblapack=3.11.0=6_hd9741b5_openblas
liblzma=5.8.2=h8088a28_0
libopenblas=0.3.32=openmp_he657e61_0
libscotch=7.0.11=int64_hc5c7ca1_2
libsqlite=3.52.0=h1ae2325_0
libzlib=1.3.1=h5f15de7_0
lightsim2grid=0.12.2=pypi_0
llvm-openmp=22.1.3=hc7d1edf_0
llvmlite=0.47.0=pypi_0
lxml=6.1.0=pypi_0
markupsafe=3.0.3=pypi_0
matplotlib=3.10.8=pypi_0
matplotlib-inline=0.2.1=pypi_0
matpowercaseframes=1.1.6=pypi_0
metis=5.1.0=h15f6cfe_1007
mistune=3.2.0=pypi_0
mumps-include=5.8.2=h2ca763e_2
mumps-seq=5.8.2=h49d0c1d_2
mypy-extensions=1.1.0=pypi_0
narwhals=2.20.0=pypi_0
nbclient=0.10.4=pypi_0
nbconvert=7.17.1=pypi_0
nbformat=5.10.4=pypi_0
ncurses=6.5=hee39554_0
nest-asyncio=1.6.0=pypi_0
networkx=3.4.2=pypi_0
notebook=7.5.5=pypi_0
notebook-shim=0.2.4=pypi_0
numba=0.65.0=pypi_0
numpy=2.2.6=py310h4d83441_0
openpyxl=3.1.5=pypi_0
openssl=3.6.2=hd24854e_0
orderly-set=5.5.0=pypi_0
ortools=9.15.6755=pypi_0
overrides=7.7.0=pypi_0
packaging=25.0=pypi_0
pandapower=3.4.0=pypi_0
pandas=2.3.3=pypi_0
pandera=0.26.1=pypi_0
pandocfilters=1.5.1=pypi_0
parso=0.8.6=pypi_0
pexpect=4.9.0=pypi_0
pillow=12.2.0=pypi_0
pip=26.0.1=pyhc872135_1
platformdirs=4.9.6=pypi_0
plotly=6.7.0=pypi_0
power-grid-model=1.10.41=pypi_0
power-grid-model-io=1.2.113=pypi_0
prometheus-client=0.25.0=pypi_0
prompt-toolkit=3.0.52=pypi_0
protobuf=6.33.6=pypi_0
psutil=7.2.2=pypi_0
psycopg=3.3.3=pypi_0
ptyprocess=0.7.0=pypi_0
pure-eval=0.2.3=pypi_0
pybind11=3.0.4=pypi_0
pycparser=3.0=pypi_0
pydantic=2.13.3=pypi_0
pydantic-core=2.46.3=pypi_0
pygments=2.20.0=pypi_0
pyogrio=0.12.1=pypi_0
pyomo=6.10.0=py310h8616463_0
pyparsing=3.3.2=pypi_0
pypower=5.1.19=pypi_0
pyproj=3.7.1=pypi_0
python=3.10.20=h1b19095_0_cpython
python-dateutil=2.9.0.post0=pypi_0
python-json-logger=4.1.0=pypi_0
python_abi=3.10=8_cp310
pytz=2026.1.post1=pypi_0
pyyaml=6.0.3=pypi_0
pyzmq=27.1.0=pypi_0
readline=8.3=h0b18652_0
referencing=0.37.0=pypi_0
requests=2.33.1=pypi_0
rfc3339-validator=0.1.4=pypi_0
rfc3986-validator=0.1.1=pypi_0
rfc3987-syntax=1.1.0=pypi_0
rpds-py=0.30.0=pypi_0
scipy=1.15.3=pypi_0
send2trash=2.1.0=pypi_0
setuptools=82.0.1=py310hca03da5_0
shapely=2.1.2=pypi_0
six=1.17.0=pypi_0
soupsieve=2.8.3=pypi_0
sqlite=3.51.2=h67002bf_0
stack-data=0.6.3=pypi_0
structlog=25.5.0=pypi_0
terminado=0.18.1=pypi_0
texttable=1.7.0=pypi_0
tinycss2=1.4.0=pypi_0
tk=8.6.15=hcd8a7d5_0
tomli=2.4.1=pypi_0
tornado=6.5.5=pypi_0
tqdm=4.67.3=pypi_0
traitlets=5.14.3=pypi_0
typeguard=4.5.1=pypi_0
typing-extensions=4.15.0=pypi_0
typing-inspect=0.9.0=pypi_0
typing-inspection=0.4.2=pypi_0
tzdata=2026.1=pypi_0
uri-template=1.3.0=pypi_0
urllib3=2.6.3=pypi_0
wcwidth=0.6.0=pypi_0
webcolors=25.10.0=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.9.0=pypi_0
wheel=0.46.3=py310hca03da5_0
widgetsnbextension=4.0.15=pypi_0
xlsxwriter=3.2.9=pypi_0
xz=5.8.2=h8bbcb1d_0
zlib=1.3.1=h5f15de7_0
